.banner-abas {
  width: 100%;
  height: 355px;
  background-image: url("../../../public/assets/images/banner/BannerUserSpace\(Admin\).png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;

  .abas-navegacao {
    width: 948.57px;
    height: 82.314px;
    display: flex;
    align-items: flex-end;
  }
}

.conteudo {
  width: 100%;
  background: #eae9e9;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  padding: 5% 5% 5% 5%;

  input[type="button"] {
    border: 1px solid #000;
    background: #a4596d;
    width: 180px;
    height: 45px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: opacity 0.5s ease;

    &:hover {
      opacity: 0.95;
      box-shadow: 0rem 0rem 0.15rem #b84363 inset;
      transform: scale(1.05);
    }
  }

  input[type="text"] {
    width: 100%;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #fff;
    height: 45px;
    padding-left: 1rem;
    text-align: center;
  }

  .pesquisa {
    width: 100%;
    display: flex;
    grid-column: -1;
    justify-content: end;
    justify-content: space-between;
    padding-bottom: 2rem;

    .recarregar-dados {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1.5rem;
      
      span {
        font: 500 1rem "Poppins";
      }

      i {
        transition: opacity 0.5s ease;
        cursor: pointer;

        &:hover {
          opacity: 0.9;
          text-shadow: 0rem 0rem 1rem #fff inset;
          transform: scale(1.05);
        }
      }
    }

    .busca-vinho {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      justify-content: flex-end;
    }
  }

  .id {
    width: 10%;
  }
  .vinho {
    width: 20%;
  }
  .descricao {
    width: 25%;
  }
  .vinicola {
    width: 15%;
  }
  .valor {
    width: 10%;
  }
  .status {
    width: 10%;
  }
  .estoque {
    width: 10%;
  }
  table {
    width: 100%;
    border-spacing: 0px 10px;
    padding-top: 2rem;
    th,
    td {
      text-align: center;
      padding: 10px;
    }
    th {
      border-bottom: 2px solid #000;
      border: #000 solid 2px;
    }

    td {
      border-top: 2px solid #000;
      border-bottom: 2px solid #000;
    }

    tr td:first-child {
      border-left: 2px solid #000;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    tr td:last-child {
      border-right: 2px solid #000;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}
