.tela-alterar-produto-modal {
  overflow: hidden;
}

.bloqueio-alterar-produto-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  pointer-events: all;
}

.pagina-listagem-produtos {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 20rem;
  flex-shrink: 1;
  font-style: normal;
  line-height: normal;

  .banner-abas {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 22.1rem;
    background-image: url("../../../public/assets/images/banner/BannerUserSpace.png");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: start;
    justify-content: flex-end;

    .titulo-banner {
      display: flex;
      padding: 2rem 2rem 5rem 2rem;
      font: 700 2rem / normal "Poppins";
      color: #fff;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .abas-navegacao {
      width: 59.3rem;
      height: 5.1rem;
      display: flex;
      align-items: flex-end;
    }
  }

  .conteudo {
    width: 100%;
    background: #eae9e9;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    padding: 5% 5% 5% 5%;

    input[type="button"] {
      border: 1px solid #000;
      background: #a4596d;
      width: 11.25rem;
      height: 2.8125rem;
      border-radius: 0.625rem;
      color: #fff;
      cursor: pointer;
      transition: opacity 0.5s ease;

      &:hover {
        opacity: 0.95;
        box-shadow: 0rem 0rem 0.15rem #b84363 inset;
        transform: scale(1.05);
      }
    }

    input[type="text"] {
      width: 100%;
      border-radius: 0.9375rem;
      border: 1px solid rgba(0, 0, 0, 0.5);
      background: #fff;
      height: 2.8125rem;
      padding-left: 1rem;
      text-align: center;
    }

    .pesquisa {
      width: 100%;
      display: flex;
      grid-column: -1;
      justify-content: end;
      justify-content: space-between;
      padding-bottom: 2rem;

      .recarregar-dados {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.5rem;

        span {
          font: 500 1rem "Poppins";
        }

        i {
          transition: opacity 0.5s ease;
          cursor: pointer;

          &:hover {
            opacity: 0.9;
            text-shadow: 0rem 0rem 1rem #fff inset;
            transform: scale(1.05);
          }
        }
      }

      .busca-vinho {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        justify-content: flex-end;

        input[type="text"] {
          text-align: start;
        }
      }
    }

    .id,
    .estoque {
      width: 8%;
    }
    .vinho {
      width: 15%;
    }
    .descricao {
      width: 25%;
    }
    .vinicola {
      width: 15%;
    }
    .valor {
      width: 14%;
    }
    .status {
      width: 10%;
    }
    .icone-editar-produto {
      width: 5%;
    }

    .preco {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 0.3rem;
    }

    table {
      width: 100%;
      border-spacing: 0rem 0.625rem;
      padding-top: 2rem;
      font: 500 1rem / normal "Poppins";

      th,
      td {
        text-align: center;
        padding: 0.625rem;
      }

      th {
        border-bottom: 0.125rem solid #000;
        border: #000 solid 0.125rem;
      }

      td {
        border-top: 0.125rem solid #000;
        border-bottom: 0.125rem solid #000;

        .primeira-coluna {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 1.25rem;
          flex-wrap: wrap;

          img {
            width: 40%;
            image-rendering: optimizeQuality;
            mix-blend-mode: multiply;
          }
        }

        i {
          font-size: 1.25rem;
          cursor: pointer;
          transition: opacity 0.5s ease;

          &:hover {
            opacity: 0.95;
            transform: scale(1.05);
          }
        }
      }

      tr td:first-child {
        border-left: 0.125rem solid #000;
        border-top-left-radius: 0.625rem;
        border-bottom-left-radius: 0.625rem;
      }

      tr td:last-child {
        border-right: 0.125rem solid #000;
        border-top-right-radius: 0.625rem;
        border-bottom-right-radius: 0.625rem;
      }
    }
  }
}
