.comp-aba-navegacao {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11.5rem;
  height: 3.8rem;
  background-color: #f0f0f0;
  text-align: center;
  border: 0.0625rem solid #000;
  font: 400 1.1rem / normal "Poppins";
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.95;
    box-shadow: 0rem 0rem 1rem #dcdcdc inset;
    transform: scale(1.012);
  }
}
