.tela-pedidos-clientes-modal {
  overflow: hidden;
}

.bloqueio-pedido-cliente {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  pointer-events: all;
}

.pagina-pedidos-cliente {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 20rem;
  flex-shrink: 1;
  font-style: normal;
  line-height: normal;

  .banner-perfil {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 22.1rem;
    background-image: url("../../../public/assets/images/banner/BannerUserSpace.png");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: start;
    justify-content: flex-end;

    .titulo-banner {
      display: flex;
      padding: 2rem 2rem 5rem 2rem;
      font: 700 2rem / normal "Poppins";
      color: #fff;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .abas-navegacao {
      width: 59.3rem;
      height: 5.1rem;
      display: flex;
      align-items: flex-end;
    }
  }

  .pedido-vazio {
    display: flex;
    width: 100%;
    background-color: #eae9e9;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 3.5rem 3rem 5rem 3rem;

    .conteudo-pedido-vazio {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 2rem;

      .mensagem-pedido-vazio {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font: 500 1.5rem/normal "Poppins";
      }

      img {
        width: 10%;
      }
    }
  }

  .pedidos-cliente {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #eae9e9;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 2rem 3rem 5rem 3rem;

    .filtragem-pedidos {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-end;
      gap: 1.25rem;
      height: 2.5rem;

      select {
        width: 15%;
        height: 2.5rem;
      }

      span {
        font: 400 1.5rem / normal "Poppins";
      }
    }

    .listagem-pedidos {
      width: 100%;
      table {
        width: 100%;
        border-spacing: 0rem 0.625rem;
        padding-top: 2rem;
        font: 500 1rem / normal "Poppins";

        .conteudo-lista {
          padding: 0.5rem;
        }

        .numero-pedido {
          width: 25%;
        }

        .quantidade-pedido {
          width: 5%;
        }

        .status-pedido {
          width: 15%;
        }
        .nome-vinho {
          width: 35%;
        }

        .data-pedido {
          width: 20%;
        }

        th,
        td {
          text-align: center;
          padding: 0.625rem;
        }

        td {
          border-top: 0.125rem dashed #000;
          border-bottom: 0.125rem dashed #000;

          .primeira-coluna {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            button {
              width: 50%;
              height: 2.5rem;
              font: 400 0.8rem "Poppins";
              color: #fff;
              border-radius: 51.25rem;
              border: none;
              background: #a4596d;
              cursor: pointer;
              transition: opacity 0.5s ease;

              &:hover {
                opacity: 0.95;
                box-shadow: 0rem 0rem 0.15rem #b84363 inset;
                transform: scale(1.05);
              }
            }
          }
        }

        tr td:first-child {
          border-left: 0.125rem dashed #000;
        }

        tr td:last-child {
          border-right: 0.125rem dashed #000;
        }
      }
    }
  }
}
