.pagina-confirmacao-pedido {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 20rem;
  flex-shrink: 1;
  font-style: normal;
  line-height: normal;

  .confirmacao-pedido {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    background-color: #fff;

    .banner {
      display: flex;
      width: 100%;
      font: 700 1.2rem "Poppins";
      padding: 3rem;
      height: 15rem;
      background-image: url("../../../public/assets/images/banner/BannerUserSpace.png");
      background-size: cover;
      image-rendering: optimizeQuality;
      background-color: #99343b;
      justify-content: flex-start;
      align-items: flex-end;
    }

    .recibo-pedido {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 40rem;
      background-color: #f6edd9;
      border: 0.0625rem solid #000;
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      border-left: 1px solid #000;
      color: #000;
      margin: 6rem 3rem;
      padding: 3rem 1.5rem 2rem 1.5rem;
      padding-bottom: 1rem;
      gap: 1.5rem;
      position: relative;
      z-index: 2;

      .mensagem-confirmacao-pedido {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
        color: #0aa06e;

        i {
          font-size: 10rem;
        }

        h3 {
          font: 600 2rem "Poppins";
          color: #26a45a;
        }

        span {
          font: 600 1.5rem "Poppins";
          color: #26a45a;
        }
      }

      .mensagem-recibo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 1rem;

        .mensagem-agradecimento {
          display: inline-flex;
          align-items: center;
          justify-content: center;

          p {
            width: 100%;
            font: 300 1.25rem / normal "Poppins";
            text-align: justify;
          }
        }

        .mensagem-final {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          p {
            width: 90%;
            font: 300 1rem / normal "Poppins";
            text-align: justify;
          }
        }
      }
    }
  }
}
