.pagina-cadastro-cliente {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 20rem;
  min-height: 100vh;
  font-style: normal;
  line-height: normal;

  .cadastro {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    min-width: 100vh;
    justify-content: center;
    background-color: #fff;
    padding: 1rem 2rem 3rem 2rem;
    flex-wrap: wrap;

    .cadastro-usuario {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      width: 50rem;
      padding: 2rem;
      gap: 3.5rem;

      .titulo-secao {
        font: 500 2rem "Poppins";
        color: #000;
        text-align: center;
        padding-bottom: 0.5rem;
      }

      label {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        font: 400 1rem "Poppins";
      }

      .campos-entrada-obrigatório {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.25rem;

        .campo {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          .input-obrigatorio {
            display: flex;
            gap: 0.55rem;
            width: 100%;

            h5 {
              display: inline-flex;
              align-items: flex-end;
            }

            input {
              border: none;
            }
          }

          h5 {
            font: 300 1.5rem "Poppins";
            color: #ff2600;
          }
        }
      }

      .campos-entrada-opcionais {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
        align-items: center;
        column-gap: 2rem;
        row-gap: 1rem;

        .campo {
          display: inherit;
          gap: 0.5rem;
        }

        .campo-obrigatorio {
          display: flex;
          gap: 0.55rem;
          width: 100%;

          h5 {
            display: inline-flex;
            align-items: flex-end;
          }

          input {
            border: none;
          }
        }

        h5 {
          font: 300 1.5rem "Poppins";
          color: #ff2600;
        }

        .campo:last-child {
          grid-column: 1 / -1;

          input {
            width: 100%;
          }
        }

        p {
          font: 300 1.5rem "Poppins";
          color: #ff2600;
        }
      }

      .info-campos-obrigatorios {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #ff2600;
        font: 300 1.5rem "Poppins";
      }
    }

    .finalizacao-cadastro {
      display: flex;
      width: 50rem;
      align-items: center;
      justify-content: flex-start;
      padding: 1rem;
      gap: 2rem;
      margin-top: 0.5rem;

      .icone-voltar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        font: 500 1.25rem / normal "Poppins";

        i {
          font-size: 3rem;
          text-shadow: 0rem 0.25rem 0.25rem 0rem #000 inset;
          cursor: pointer;
          transition: opacity 0.5s ease;

          &:hover {
            opacity: 0.9;
            text-shadow: 0rem 0rem 0.3rem #282828 inset;
            transform: scale(1.1);
          }
        }
      }

      .botao {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 62%;

        button {
          display: inline-flex;
          justify-content: inherit;
          align-items: inherit;
          width: 45%;
          height: 3.5rem;
          border-radius: 1rem;
          padding: 2rem;
          background-color: #a4596d;
          color: #fff;
          font: 500 1.2rem "Poppins";
          border: none;
          cursor: pointer;
          transition: opacity 0.5s ease;

          &:hover {
            opacity: 0.9;
            box-shadow: 0rem 0rem 0.3rem #b84363 inset;
            transform: scale(1.05);
          }
        }
      }
    }
  }
}
