.footer {
  display: flexbox;
  width: 100%;
  max-width: 100vw;
  min-width: 20rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  background: #3d070b;
  flex-shrink: 1;

  .elementos-footer {
    display: flex;
    padding: 3rem 4rem;
    width: 100%;
    min-width: 30rem;
    height: 25rem;
    justify-content: center;
    align-items: flex-start;
    gap: 10rem;

    .mapa-navegacao-footer {
      display: flex;
      min-width: 5rem;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1rem;
    }

    .vinho-footer {
      display: flex;
      min-width: 5rem;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1rem;
    }

    .ajuda-footer {
      display: flex;
      min-width: 5rem;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1rem;

      a {
        text-align: start;
      }
    }

    .conteudo-adicional-footer {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 1.5rem;

      .email-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.3125rem;
        align-self: stretch;
      }

      .contato-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.3125rem;
        align-self: stretch;
      }

      .midia-social-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.3125rem;
        align-self: stretch;
      }
    }

    .subtitulos-footer {
      color: #9f9f9f;
      font-family: "Poppins";
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-align: start;
    }

    .links-footer {
      text-decoration: none;
      color: #f6edd9;
      font-family: "Poppins";
      font-size: 0.9rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-align: center;
    }
  }

  .direitos-reservados {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 2rem;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 2.5rem 1rem 2.5rem;

    #mensagem-direitos-reservados {
      color: #f4ebd7;
      text-align: center;
      font-family: "Poppins";
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  h3 {
    padding-bottom: 0.5rem;
  }
}

@media (min-width: 1600px) and (max-width: 100vw) {
  .footer {
    display: flexbox;
    justify-items: center;
    align-items: center;
    padding: 4rem;

    .elementos-footer {
      display: flex;
      padding: 2rem;
      width: 80%;
      gap: 2rem;
      height: 30rem;
      justify-content: space-between;
      align-items: flex-start;
      .mapa-navegacao-footer,
      .vinho-footer,
      .ajuda-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1.2rem;
      }

      .conteudo-adicional-footer {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1.7rem;

        .email-footer,
        .contato-footer,
        .midia-social-footer {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1rem;
          align-self: stretch;

          .input-footer {
            width: 30rem;
            height: 3rem;
          
          }
        }

        input::placeholder {
         font: 400 1rem 'Poppins';
         }
      }

      .subtitulos-footer {
        color: #9f9f9f;
        font: 600 1.2rem "Poppins";
      }

      .links-footer {
        font: 500 1.4rem "Poppins";
        text-align: start;
      }
    }
    
    .direitos-reservados {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      padding: 1rem;

      .barra-horizontal {
        width: 80%;
      }

      #mensagem-direitos-reservados {
        padding-top: 1rem;
        color: #f4ebd7;
        text-align: center;
        font: 500 1.5rem "Poppins";
      }
    }
  }

}

@media (min-width: 1000px) and (max-width: 1250px) {
  .footer {
    display: flexbox;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .elementos-footer {
      display: flex;
      padding: 2.5rem 3.5rem;
      gap: 1rem;
      height: 25rem;
      justify-content: space-between;
      align-items: flex-start;
    }
    
    .direitos-reservados {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      padding: 1rem;

      .barra-horizontal {
        width: 100%;
      }

      #mensagem-direitos-reservados {
        color: #f4ebd7;
        text-align: center;
        font: 300 0.8rem "Poppins";
      }
    }
  }
}

@media (max-width: 1000px) {
  .footer {
    display: flexbox;
    padding: 1rem 0.5rem;

    .elementos-footer {
      display: flex;
      padding: 0.1rem;
      margin-bottom: 2rem;
      gap: 1rem;
      height: 20rem;
      justify-content: space-between;
      align-items: flex-start;

      .mapa-navegacao-footer,
      .vinho-footer,
      .ajuda-footer {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;
        gap: 0.7rem;
      }

      .conteudo-adicional-footer {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;

        .email-footer,
        .contato-footer,
        .midia-social-footer {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1rem;
          align-self: stretch;

          .input-footer {
            max-width: 4rem !important;
            height: 1rem;
          }

          .input-footer::placeholder {
            font-size: xx-small;
          }
        }
      }

      .subtitulos-footer {
        color: #9f9f9f;
        font: 400 0.8rem "Poppins";
      }

      .links-footer {
        font: 400 0.9rem "Poppins";
        text-align: start;
      }
    }
    .direitos-reservados {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      padding: 1rem;

      .barra-horizontal {
        width: 100%;
      }

      #mensagem-direitos-reservados {
        color: #f4ebd7;
        text-align: center;
        font: 400 0.8rem "Poppins";
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .footer {
    display: flexbox;
    padding: 0.3rem;

    .elementos-footer {
      display: flex;
      margin-bottom: 2rem;
      gap: 0.5rem;
      height: 20rem;
      justify-content: space-between;
      align-items: flex-start;

      .mapa-navegacao-footer,
      .vinho-footer,
      .ajuda-footer {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;
      }

      .conteudo-adicional-footer {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0.8rem;

        .email-footer,
        .contato-footer,
        .midia-social-footer {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1rem;
          align-self: stretch;

          .input-footer {
            width: 5rem;
          }
        }
      }

      .subtitulos-footer {
        color: #9f9f9f;
        font: 400 0.6rem "Poppins";
      }

      .links-footer {
        font: 300 0.6rem "Poppins";
        text-align: start;
      }
    }
    .direitos-reservados {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      padding: 1rem;

      .barra-horizontal {
        width: 100%;
      }

      #mensagem-direitos-reservados {
        color: #f4ebd7;
        text-align: center;
        font: 300 0.7rem "Poppins";
      }
    }
  }
}
