.header {
  display: flex;
  width: 100%;
  height: 8rem;
  padding: 2rem 4.2rem 2.7rem 4rem;
  justify-content: center;
  align-items: center;

  .elementos-header {
    display: flex;
    width: 79.4375rem;
    height: 3.375rem;
    margin: 0.113rem, 0.254rem, 0.164rem, 0.25rem;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    .logo {
      display: flex;
      width: 14.17256rem;
      height: 7.25rem;
      flex-shrink: 0;
      background-image: url("../../../public/assets/images/logo.svg");
      background-repeat: no-repeat;  
      background-position: center;
      background-size: calc(14.17256rem - 10%) auto;

    }
    .input-header {
      padding: 0.375rem 0.75rem;
    }

    .campo-busca-homepage {
      width: 30.5rem;
      height: 2.3rem;
      background-image: url("../../../public/assets/images/lupa-busca-icon.svg");
      background-repeat: no-repeat;
      background-position: 2%;
      background-size: 1.2rem;
      padding-left: 2.55rem;
    }

    .dados-usuario-header {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;

      span {
        color: #eee;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }

      span > strong {
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .icone {
        font-size: 2rem;
        filter: invert(1);
      }
    }
  }
}
