.pagina-alterar-senha-cliente {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 20rem;
  min-height: 100vh;
  font-style: normal;
  line-height: normal;
  flex-grow: 1;

  .alteracao-senha {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: #fff;
    padding: 2rem 2rem 3rem 2rem;
    gap: 2rem;
    flex-wrap: wrap;

    span {
      font: 500 2rem "Poppins";
      color: #000;
      text-align: center;
      padding-bottom: 0.5rem;
    }

    .botao {
      display: inline-flex;
      height: 3rem;
      border-radius: 0.625rem;
      background: #a4596d;
      border: none;
      align-items: center;
      justify-content: center;
      color: #fff;
      cursor: pointer;
      transition: opacity 0.5s ease;

      &:hover {
        opacity: 0.95;
        box-shadow: 0rem 0rem 0.15rem #b84363 inset;
        transform: scale(1.05);
      }
    }

    .campos-entrada {
      display: flex;
      width: 40rem;
      padding: 1.5rem;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      gap: 2.5rem;

      .informacao-campo-entrada {
        text-align: center;
        font: 400 1.3rem "Poppins";
        font-style: normal;
        line-height: normal;
      }

      .campo-senha {
        display: flex;
        align-items: end;
        justify-content: center;
        gap: 1.25rem;
      }

      label {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font: 400 1.2rem "Poppins";
      }
    }

    #botao-recuperar-senha {
      display: inline-flex;
      width: 20%;
      justify-content: center;
      align-items: center;
      font: 400 1.3rem "Poppins";
      height: 3.5rem;
      font-style: normal;
      line-height: normal;
    }
  }
}
