.componente-disclaimer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #fff;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  padding: 2rem;

  .informacoes-disclaimer {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 7rem;
    padding: 1rem 3rem;

    .cabecalho {
      display: flex;
      justify-content: center;
      align-items: center;
      font: 500 2rem/normal "Poppins";
      font-style: normal;
      gap: 1rem;
    }

    .seguranca,
    .frete-gratis,
    .desconto {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
     

      .texto-disclaimer {
        p {
          color: #000;
          text-align: center;
          font: 400 1.2rem/normal "Poppins";
          font-style: normal;
           padding-left: 1.5rem;
           padding-right: 1.5rem;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .componente-disclaimer {
    margin-top: 1rem;

    .informacoes-disclaimer {
      align-items: flex-start;
      justify-content: space-evenly;
      width: 100% !important;
      gap: 1rem;

      .cabecalho {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        font: 500 1rem "Poppins";
        font-style: normal;
        line-height: normal;
        gap: 1rem;
      }

      .seguranca,
      .frete-gratis,
      .desconto {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: flex-start;
        gap: 1.5rem;

        .texto-disclaimer {
          display: flex;
          width: 0.5rem;

          p {
            color: #000;
            text-align: start;
            font: 300 0.7rem "Poppins" !important;
            font-style: normal;
            line-height: normal;
          }
        }
      }
    }
  }

  i {
    font-size: 1rem;
  }
}
