.pagina-vinho {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 20rem;
  flex-shrink: 1;
  font-style: normal;
  line-height: normal;

  .informacoes-vinho {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    padding: 3rem 5rem 5rem 5rem;
    gap: 7rem;

    .caracteristicas-vinho {
      display: flex;
      gap: 5rem;
      width: 100%;

      .imagem-vinho {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35%;
        background-color: #e6e6e6;

        img {
          width: 100%;
          mix-blend-mode: multiply;
        }
      }

      .caracteristicas {
        display: flex;
        flex-direction: column;
        padding: 0 1.25 1.2rem 1.2rem;
        gap: 1.5rem;
        line-height: 2rem;

        h2 {
          text-align: center;
          color: #000;
          font: 400 2rem / normal "Poppins";
          padding-bottom: 2rem;
        }

        .lista-caracteristicas {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 5rem;
          padding-left: 1.5rem;
          font: 400 1rem/2rem "Poppins";
          font-size: 1.25rem;
          color: #6d6d6d;

          .tipo-caracteristicas {
            display: inline-flex;
            align-items: center;
            justify-content: center;

            ul {
              list-style: square;

              li::marker {
                color: #d9d9d9;
              }
            }
          }

          .dados-caracteristicas {
            display: inline-flex;
            align-items: center;
            justify-content: center;

            ul {
              list-style: none;

              li::before {
                content: ":";
                margin-right: 1.5rem;
                color: #9f9f9f;
              }
            }
          }
        }

        .preco {
          padding-top: 1rem;
          color: #3d070b;
          font: 800 3.1rem / normal "Poppins";
          font-weight: 800;
          text-align: start;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: #943d3d00;
        }

        .reserva-vinho {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 2rem;

          .input-reservar-vinho {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 0.625rem;
            border: 0.0625rem solid #9f9f9f;
            background: #fff;
            padding: 0.5rem;
            width: 20%;
            height: 3.5rem;

            .manipulacao-valores-input {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              height: 1.2rem;
              border-radius: 50%;
              cursor: pointer;
              transition: opacity 0.5s ease;
              font: 400 1rem "Poppins";

              &:hover {
                opacity: 0.8;
                border-radius: 50rem;
                background-color: #bebebe6d;
                transform: scale(1.2);
              }
            }

            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            input[type="number"] {
              -moz-appearance: textfield;
              appearance: none;
            }

            input[type="number"] {
              all: none;
              text-align: center;
              font: 500 1rem / normal "Poppins";
              color: #000;
              border-radius: 0rem;
              border: none;
              padding: 0;
              outline: none;
            }
          }

          button {
            font: 400 1.5rem / normal "Poppins";
            background: #3d070b;
            display: inline-flex;
            width: 15rem;
            height: 3.5rem;
            border-radius: 0.625rem;
            border: none;
            align-items: center;
            justify-content: center;
            color: #fff;
            cursor: pointer;
            transition: opacity 0.5s ease;

            &:hover {
              opacity: 0.95;
              box-shadow: 0rem 0rem 0.15rem #3d070bbf inset;
              transform: scale(1.05);
            }
          }
        }

        #mensagem-vinho-esgotado {
          font: 500 1.4rem/normal "Poppins";
        }
      }
    }
    .descricao-caracteristicas-vinho {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 1.5rem;

      .titulo-texto-caracteristicas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
          font: 300 3rem/4rem "Poppins";
        }

        hr {
          width: 30%;
          border: 0.0625rem solid #000;
        }
      }

      .conteudo-descricao {
        padding-top: 1.5rem;
        text-align: justify;
        color: #000;
        font: 400 1.125rem / normal "Poppins";
        gap: 1.5rem;
        padding-top: 3rem;
      }
    }
  }
}
