.pagina-principal {
  .elementos-header {
    display: flex;
    width: 79.4375rem;
    height: 3.375rem;
    margin: 0.113rem, 0.254rem, 0.164rem, 0.25rem;
    justify-content: space-between;
    align-items: flex-end;
    flex-shrink: 0;
  }

  .dados-usuario-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    span {
      color: #eee;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }

    span > strong {
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    .icone {
      font-size: 2rem;
    }
  }

  .input-header {
    padding: 0.375rem 0.75rem;
  }

  .campo-busca-homepage {
    width: 30.5rem;
    height: 2.3rem;
    background-image: url("../../../public/assets/images/lupa-busca-icon.svg");
    background-repeat: no-repeat;
    background-position: 2%;
    background-size: 1.2rem;
    padding-left: 2.55rem;
  }

  h2 {
    font-size: 3.4rem;
    font-weight: 300;
    line-height: 4.3125rem;
  }

  p {
    font-size: 1.15rem;
    font-weight: 200;
    line-height: 1.3rem;
  }

  .banner {
    width: 100%;
    height: 45rem;
    flex-shrink: 0;
    background: #0a0a0a;
    background-image: url("../../../public/assets/images/imagem-banner.svg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;

    .informacao-banner {
      display: flex;
      width: 33.0625rem;
      height: inherit;
      flex-direction: column;
      gap: 2rem;
      padding-left: 5rem;
      justify-content: center;
      flex-shrink: 0;
      color: #fff;
      font-style: normal;
      font-family: Inter;
    }
  }

  .sobre-nos {
    display: flex;
    width: 100%;
    height: 42rem;
    padding: 4rem 3rem;
    flex-shrink: 0;
    background: #fff;
    gap: 5.69rem;
    overflow: hidden;

    .img-sobre-nos {
      width: 34.13463rem;
      height: 30.60738rem;
      flex-shrink: 0;

      #imagem {
        max-width: 100%;
        height: 100%;
        background: url("../../../public/assets/images/imagem-sobre-nos.svg")
          no-repeat;
        background-size: cover;
        background-position: center;
        object-fit: cover;
        aspect-ratio: 546.15/489.72;
      }
    }

    .informacao-sobre-nos {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      h2 {
        color: #3d070b;
      }

      hr {
        position: relative;
        width: inherit;
        height: 0.125rem;
        flex-shrink: 0;
        fill: rgba(61, 7, 11, 0.37);
        top: -1rem;
      }

      p {
        color: #42282a;
        white-space: pre-line;
        word-wrap: break-word;
      }
    }
  }

  .principais-categorias {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45.8125rem;
    flex-shrink: 0;
    padding: 3.75rem 4rem 5.14rem 3.94rem;

    #titulo-categoria {
      display: flex;
      width: 100%;
      height: 4.93113rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 6rem;

      h2 {
        color: #fff;
        text-align: center;
       
      }

      hr {
        position: relative;
        width: 47.78813rem;
        align-self: center;
        height: 0.125rem;
        flex-shrink: 0;
        fill: rgba(61, 7, 11, 0.37);
      }
    }

    .categoria-vinho {
      display: flex;
      gap: 2.03rem;
      align-content: center;
      justify-content: center;

      .categoria {
        width: 26.0195rem;
        height: 25.625rem;
        flex-shrink: 0;
      }

      .tinto {
        background: url("../../../public/assets/images/classificao-vinhos/Tinto.svg")
          lightgray 50% / cover no-repeat;
      }

      .rose {
        background: url("../../../public/assets/images/classificao-vinhos/Rose.svg")
          lightgray 50% / cover no-repeat;
      }

      .branco {
        background: url("../../../public/assets/images/classificao-vinhos/Branco.svg")
          lightgray 50% / cover no-repeat;
      }
    }
  }
  .elementos-footer {
    display: flex;
    height: 18.25rem;
    align-items: flex-start;
    gap: 4.875rem;
  }
}
